{% extends 'base.html' %} {% block content %}
<h3>{{header}}</h3>
<form method="POST" action="#">
  {% csrf_token %}

  <div class="row">
    <div class="col-6">
      <div class="mb-2">
        <label class="form-label">Name of the Vegetable</label>
        <input type="text" class="form-control" name="vegetable_name" />
      </div>
      <div class="mb-2">
        <label class="form-label">Quantity of Vegetable</label>
        <textarea
          type="text"
          class="form-control"
          style="height: 10px"
          name="quantity"
        ></textarea>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        name="item_add"
        value="item_add"
      >
        Create Item
      </button>
    </div>

    <div class="col-6 col-lg-6">
      <h3>Cart</h3>
      <ol class="list-group list-group-numbered">
        {% for ingredient in items%}
        <li
          class="list-group-item d-flex justify-content-between align-items-start"
        >
          <div class="ms-2 me-auto">
            <div class="fw-bold">{{ingredient.name}}</div>
            {{ingredient.quantity}}
          </div>
          {% if ingredient.is_organic %}
          <input
            class="my-auto"
            type="checkbox"
            checked
            value="{{ingredient.pk}}"
            name="checkbox"
            onclick="this.form.submit()"
          />
          {% else %}
          <input
            class="my-auto"
            type="checkbox"
            value="{{ingredient.pk}}"
            name="checkbox"
            onclick="this.form.submit()"
          />
          {% endif %}

          <button
            type="submit"
            class="btn btn-danger"
            ms-2
            name="delete"
            value="{{ingredient.pk}}"
          >
            Delete
          </button>
        </li>
        {% endfor %}
      </ol>
    </div>
  </div>
</form>
{% endblock content %}
